.img {
    border-radius: 8px;
    border: 2px solid #3882F6;
    padding: 50px;
    margin-bottom: 10px;
}

body {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.header, .intro, .footer {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 8px 200px 10px;
}

.intro {
    display: flex;
    justify-content: space-between;
    padding: 8px 200px 10px;
}

.description, .mimage {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    height: 200px;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.mtitle {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.text {
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 18px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

button, .recruit {
    background-color: #3882F6;
    color: white;
    }

#description {
    border: none;
    border-radius: 8px;
    font-weight: 900;
    font-size: 20px;
    width: 150px;
    padding: 5px;
}

.title {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin-bottom: 30px;
}

.quote {
    background-color: #E5E7EB;
    font-size: 20px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
    padding: 30px;
}

.qcontainer{
    display: flex;
    width: 900px;
    margin: 0 auto;
    flex-direction: column;
}

.vip {
    font-weight: 900;
    margin-left: auto;
}

.info {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.content {
    display: flex;
    justify-content: center;
    gap: 45px;
}

.box {
    max-width: 200px;
}

.recruit {
    border: none;
    border-radius: 8px;
    width: 900px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    margin: 50px 500px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.rec1 {
    font-weight: 700;
    font-size: 20px;
}

#recruit {
    border: none;
    border-radius: 8px;
    border: 2px solid white;
    font-size: 16px;
    width: 150px;
    padding: 5px;
}